body {
	margin: 8px;
}
body::before {
	content: "";
	background: url("images/background.png");
	filter: blur(5px);

	position: fixed;
	height: calc(100% + 26px);
	width: calc(100% + 26px);
	margin: calc(-8px + -5px);
	z-index: -1;
}
